body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-520px;
  width:400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:380px;
  background:inherit;
  background-color:rgba(30, 41, 59, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 65, 85, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:250px;
  width:400px;
  height:380px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:40px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:280px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:40px;
}
#u15 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:325px;
  width:340px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#94A3B8;
  text-align:center;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:350px;
  width:340px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#94A3B8;
  text-align:center;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(15, 23, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:395px;
  width:340px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(15, 23, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u18.hint {
}
#u18_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u18.disabled {
}
#u18_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u18.hint.disabled {
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(15, 23, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:452px;
  width:340px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(15, 23, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u19.hint {
}
#u19_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u19.disabled {
}
#u19_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u19.hint.disabled {
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
  background:inherit;
  background-color:rgba(99, 102, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:520px;
  width:340px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#D9001B;
  text-align:center;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:495px;
  width:340px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#D9001B;
  text-align:center;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
